<div class="flex">
  <img class="h-screen" src="DB-Background.png" alt="DB Image" />

  <div class="flex items-center justify-center flex-1 w-fit">
    <div class="flex flex-col gap-4 w-65">
      <!-- TITLE -->
      <p class="text-4xl font-medium" style="color: var(--mat-sys-on-surface)">
        {{ 'SIGN_UP' | translate }}
      </p>

      <p style="color: var(--mat-sys-on-surface)">
        {{ 'REQUIRED_FIELDS' | translate }}
      </p>

      <!-- FORM -->
      <form class="flex flex-col gap-2" [formGroup]="registerForm" (ngSubmit)="onSignUp()">
        <!-- USERNAME -->
        <mat-form-field appearance="outline">
          <mat-label>{{ 'USERNAME' | translate }}</mat-label>
          <input matInput formControlName="username" />

          @if (registerForm.controls.username.touched && registerForm.controls.username.invalid) {
            <mat-error>
              @switch (true) {
                @case (registerForm.controls.username.hasError('required')) {
                  {{ 'USERNAME_REQUIRED' | translate }}
                }
                @case (registerForm.controls.username.hasError('alreadyTaken')) {
                  {{ 'USERNAME_ALREADY_TAKEN' | translate }}
                }
              }
            </mat-error>
          }
        </mat-form-field>

        <!-- EMAIL -->
        <mat-form-field appearance="outline">
          <mat-label>{{ 'EMAIL' | translate }}</mat-label>
          <input matInput formControlName="email" />

          @if (registerForm.controls.email.touched && registerForm.controls.email.invalid) {
            <mat-error>
              @switch (true) {
                @case (registerForm.controls.email.hasError('required')) {
                  {{ 'EMAIL_REQUIRED' | translate }}
                }
                @case (registerForm.controls.email.hasError('email')) {
                  {{ 'EMAIL_INVALID' | translate }}
                }
                @case (registerForm.controls.email.hasError('alreadyTaken')) {
                  {{ 'EMAIL_ALREADY_REGISTERED' | translate }}
                }
              }
            </mat-error>
          }
        </mat-form-field>

        <!-- PASSWORD -->
        <mat-form-field appearance="outline">
          <mat-label>{{ 'PASSWORD' | translate }}</mat-label>
          <input matInput type="password" formControlName="password" />

          @if (registerForm.controls.password.touched && registerForm.controls.password.invalid) {
            <mat-error>
              @switch (true) {
                @case (registerForm.controls.password.hasError('required')) {
                  {{ 'PASSWORD_REQUIRED' | translate }}
                }
                @case (registerForm.controls.password.hasError('minlength')) {
                  {{ 'PASSWORD_MIN_LENGTH' | translate }}
                }
                @case (registerForm.controls.password.hasError('pattern')) {
                  {{ 'PASSWORD_PATTERN' | translate }}
                }
              }
            </mat-error>
          }
        </mat-form-field>

        <button mat-raised-button color="primary" type="submit" class="w-25">
          {{ 'SIGN_UP' | translate }}
        </button>
      </form>

      <!-- LOGIN LINK -->
      <p style="color: var(--mat-sys-on-surface)">
        {{ 'ALREADY_HAVE_ACCOUNT' | translate }}
        <a routerLink="/login" class="font-medium">
          {{ 'LOGIN_INFO' | translate }}
        </a>
      </p>
    </div>
  </div>

  <!-- ACTION BUTTONS -->
  <div class="absolute top-4 right-4 flex flex-row gap-2">
    <button matMiniFab (click)="toggleLanguage()">
      <mat-icon>language</mat-icon>
    </button>

    <button matMiniFab (click)="toggleDarkMode()">
      <mat-icon>
        {{ isDarkMode == 'light' ? 'dark_mode' : 'light_mode' }}
      </mat-icon>
    </button>
  </div>
</div>
