.mat-drawer,
.mat-drawer-inner-container {
  width: fit-content;
}

.mat-drawer-content {
  display: flex;
  justify-content: center;
  padding: 4rem;
}

.mat-mdc-card {
  padding: 4rem;
  height: fit-content;
}

.mat-mdc-card-content {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
