.mat-drawer, .mat-drawer-inner-container {
    width: fit-content;
    background-color: #F1F4F9;
}

.mat-drawer-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    padding: 4rem;
}

table {
  width: 100%;
}
