<mat-drawer-container class="h-screen" autosize>
  <mat-drawer mode="side" opened>
    <app-sidenav></app-sidenav>
  </mat-drawer>
  <mat-drawer-content>
    <mat-card appearance="outlined">
      <mat-card-title>Train Cancellation Odds</mat-card-title>
      <mat-card-content>
        <div class="flex flex-col items-center gap-4">
          <form>
            <mat-form-field>
              <mat-label>Start Station</mat-label>
              <input type="text" matInput [formControl]="myControl" [matAutocomplete]="auto" />
              <mat-autocomplete #auto="matAutocomplete">
                @for (option of filteredOptions | async; track option) {
                  <mat-option [value]="option">{{ option }}</mat-option>
                }
              </mat-autocomplete>
            </mat-form-field>
          </form>
          <form>
            <mat-form-field>
              <mat-label>End Station</mat-label>
              <input type="text" matInput [formControl]="myControl2" [matAutocomplete]="auto" />
              <mat-autocomplete #auto="matAutocomplete">
                @for (option of filteredOptions2 | async; track option) {
                  <mat-option [value]="option">{{ option }}</mat-option>
                }
              </mat-autocomplete>
            </mat-form-field>
          </form>
          <button matFab extended>
            <mat-icon>calculate</mat-icon>
            Start Calculation
          </button>
        </div>
      </mat-card-content>
    </mat-card>
    <mat-card appearance="outlined">
      <mat-card-title>Delay Statistics</mat-card-title>
      <mat-card-content>
        <div class="flex flex-col items-center">
          <button matFab extended>
            <mat-icon>calculate</mat-icon>
            Start Calculation
          </button>
        </div>
      </mat-card-content>
    </mat-card>
    <mat-card appearance="outlined">
      <mat-card-title>Average State Delay</mat-card-title>
      <mat-card-content>
        <div class="flex flex-col items-center gap-4">
          <form>
            <mat-form-field>
              <mat-label>State</mat-label>
              <input
                type="text"
                matInput
                [formControl]="myControl3"
                [matAutocomplete]="autoState"
              />
              <mat-autocomplete #autoState="matAutocomplete">
                @for (state of filteredOptions3 | async; track state) {
                  <mat-option [value]="state">{{ state }}</mat-option>
                }
              </mat-autocomplete>
            </mat-form-field>
          </form>
          <button matFab extended>
            <mat-icon>calculate</mat-icon>
            Start Calculation
          </button>
        </div>
      </mat-card-content>
    </mat-card>
  </mat-drawer-content>
</mat-drawer-container>
