.mat-drawer,
.mat-drawer-inner-container {
  width: fit-content;
}

.mat-drawer-content {
  display: flex;
  flex-direction: column;
  padding: 4rem;
  gap: 1rem;
}

.mat-mdc-card-title {
  margin-top: 1rem;
  margin-left: 1rem;
}

.mat-mdc-form-field {
  width: 100%;
}
